@import "color";
.perspectiveContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  perspective: 1000px;
  transform: translate(-50%, -50%);
}

.betContainer {
  transform: rotateX(40deg);
  width: 70rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 40rem;
  background: $color-table;
  box-sizing: border-box;
  border-radius: 0.5rem;
  color: #fff;
}

.moneyTextContainer,
.selectorContainer {
  display: flex;
}
.coin {
  display: inline-block;
  animation: vibe 1s infinite;
  margin-left: 100px;
}
.one {
  width: 3rem;
  height: 3rem;
  border: 1px solid #c19d06;
  border-radius: 50%;
}
.bottom {
  transform: translateY(115%) rotateX(-45deg);
  transform-origin: 50% 0%;
  background: #fbcb03;
}
.top {
  transform: rotateX(-45deg);
  transform-origin: 50% 0%;
  background: #fbcb03;
}
.side {
  position: absolute;
  top: 47px;
  width: 0px;
  height: 1px;
  border: 1px solid #c19d06;
}
.right {
  right: 0;
}

.moneyContainer {
  margin-top: 2rem;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  position: relative;
  min-height: 6rem;
  .money {
    position: absolute;
    background: url("../assets/icons/coin.png") no-repeat;
    background-size: cover;
    width: 4rem;
    height: 4rem;
    margin-bottom: 2rem;
  }
}

.moneyTextContainer {
  margin: 2rem;
  font-size: 2rem;
  .label {
    margin-right: 10px;
  }
}

.selectorContainer {
  position: absolute;
  bottom: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  button {
    padding: 1rem;
    font-size: 2rem;
    min-width: 4rem;
    margin-right: 1rem;
    text-align: center;
    border-radius: 5px;
  }
  .call {
    background: #51cf66;
  }
  .die {
    background: #f03e3e;
  }
  button:disabled {
    background: #868e96;
  }
}

@keyframes vibe {
  30% {
    transform: rotateZ(10deg);
  }
  60% {
    transform: rotateZ(-10deg);
  }
}
