[class*="card"] {
  background-size: cover;
  width: 10rem;
  height: 15.4rem;
}

.card-1-1 {
  background: url(../assets/images/1-1.png);
}
.card-1-2 {
  background: url(../assets/images/1gwang.png);
}
.card-2-1 {
  background: url(../assets/images/2-1.png);
}
.card-2-2 {
  background: url(../assets/images/2-2.png);
}
.card-3-1 {
  background: url(../assets/images/3-1.png);
}
.card-3-2 {
  background: url(../assets/images/3gwang.png);
}
.card-4-1 {
  background: url(../assets/images/4-1.png);
}
.card-4-2 {
  background: url(../assets/images/4-2.png);
}
.card-5-1 {
  background: url(../assets/images/5-1.png);
}
.card-5-2 {
  background: url(../assets/images/5-2.png);
}
.card-6-1 {
  background: url(../assets/images/6-1.png);
}
.card-6-2 {
  background: url(../assets/images/6-2.png);
}
.card-7-1 {
  background: url(../assets/images/7-1.png);
}
.card-7-2 {
  background: url(../assets/images/7-2.png);
}
.card-8-1 {
  background: url(../assets/images/8-1.png);
}
.card-8-2 {
  background: url(../assets/images/8gwang.png);
}
.card-9-1 {
  background: url(../assets/images/9-1.png);
}
.card-9-2 {
  background: url(../assets/images/9-2.png);
}
.card-10-1 {
  background: url(../assets/images/10-1.png);
}
.card-10-2 {
  background: url(../assets/images/10-2.png);
}
