.players {
  display: flex;
}

[class*="player-"] {
  display: flex;
  position: absolute;
  flex-direction: column;
  color: #fff;
  box-sizing: border-box;
  padding: 1rem;
  width: 18rem;
  height: 20rem;
  border-radius: 5px;
}
.cardSet {
  display: flex;
  font-size: 2rem;
}
.scoreBox {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  background: #000;
  color: #fff;
  border-radius: 5px;
}

.player-0 {
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  .avatar {
    background: url(../assets/images/javajigi.jpg) no-repeat;
    background-size: cover;
  }
}

.player-1 {
  top: 50%;
  left: 2rem;
  transform: translateY(-50%);
  .avatar {
    background: url(../assets/images/jk.jpg) no-repeat;
    background-size: cover;
  }
}

.player-2 {
  top: 50%;
  right: 2rem;
  transform: translateY(-50%);
  .avatar {
    background: url(../assets/images/honux.jpg) no-repeat;
    background-size: cover;
  }
}

.userInfo {
  display: flex;
  align-items: center;
  padding-bottom: 2rem;
  .moneyBox {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 0.5rem;
    height: 4rem;
  }
  .moneyPicture {
    background: url("../assets/icons/coin.png") no-repeat;
    background-size: cover;
    width: 2.5rem;
    height: 2.5rem;
    display: block;
    margin-right: 1rem;
  }
  .money {
    font-size: 2rem;
    color: #222;
  }
}

.avatar {
  width: 5rem;
  height: 5rem;
  background: #fff;
  border-radius: 50%;
  margin-right: 2rem;
}

.speechBubbleBox {
  // background: #fff;
  background: transparent;
  width: 6rem;
  position: absolute;
  z-index: 100;
  border-radius: 50%;
  height: 4rem;
  top: -4rem;
  color: #222;
  display: flex;
  justify-content: center;
  align-items: center;
  span {
    font-size: 2rem;
    font-weight: 700;
    color: #222;
  }
  .call {
    color: #37b24d;
  }
  .die {
    color: #e03131;
  }
}

.card {
  background-size: cover;
  width: 7rem;
  height: 11.5rem;
  position: relative;
  &::before {
    content: "";
    display: block;
    width: 7rem;
    height: 11.5rem;
    background: red;
    transform: rotateY(90deg);
    position: absolute;
    z-index: 1000;
  }
}
.back {
  &::before {
    transform: rotateY(0deg);
  }
}
.cardId {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  color: #fff;
  background: #000;
  font-size: 1.5rem;
  position: absolute;
  top: 0;
  left: 0;
}
