@import "_reset";
@import "_players";
@import "_betContainer";
@import "_color";
html {
  font-size: 10px;
}

.hide {
  display: none;
}

.room {
  position: absolute;
  z-index: -1;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  .wall {
    height: 30%;
    width: 100%;
  }
  .floor {
    flex: 1;
    width: 100%;
    background: $color-primary;
  }
}

.container {
  width: 100%;
  min-height: 100vh;
  position: relative;
}

.startButton {
  min-width: 4rem;
  padding: 2rem;
  position: fixed;
  bottom: 20%;
  left: 50%;
  background: #40c057;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  border-radius: 0.5rem;
}

.wrapper {
  position: relative;
  min-height: 100vh;
}

.winnerBox {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  background: rgba(0, 0, 0, 0.6);
  width: 40rem;
  height: 20rem;
  .winner {
    font-size: 2rem;
    color: #fff;
  }
}
