@import "_reset";
@import "_cards";
@import "_players";
html {
  font-size: 10px;
}

.red {
  color: red;
}

.wrapper {
  position: relative;
  min-height: 100vh;
}

.header {
  display: flex;
  align-items: center;
  min-height: 6rem;
  .logo {
    background: url("../assets/icons/gwang.svg") no-repeat;
    min-height: 40px;
    min-width: 40px;
    margin-right: 1rem;
  }
  .title {
    font-size: 4rem;
  }
}
